<mat-divider></mat-divider>
<mat-list-item>
  <button matTooltip="Remove device" mat-button color="primary" (click)="removeDevice()">
    <mat-icon mat-list-icon>delete_forever</mat-icon>
  </button>
  <button matTooltip="Download otaa.ino" mat-button color="primary" (click)="getINO()">
    <mat-icon mat-list-icon>cloud_download</mat-icon>
  </button>
  <button matTooltip="Download data" mat-button color="primary" (click)="getCSV()">
    <mat-icon mat-list-icon>cloud_download</mat-icon>
  </button>
  <h4 mat-line>Device:</h4>
  <p mat-line class="gray_line"> DevEUI: {{device.deveui}} </p>
  <p mat-line class="gray_line"> AppEUI: {{device.appeui}} </p>
  <p mat-line class="gray_line"> AppKey: {{device.appkey}} </p>
  <p mat-line class="gray_line"> Room: {{device.room}} </p>
  <p mat-line class="gray_line"> Description: {{device.desc}} </p>
  <p mat-line class="gray_line"> Last joined: {{device.last_join | date}} </p>
</mat-list-item>
