<app-sidebar-button matTooltip="Dashboard" [iconName]="'dashboard'" routerLink="/dashboard"></app-sidebar-button>
<app-sidebar-button matTooltip="Settings" [iconName]="'settings'" routerLink="/settings"></app-sidebar-button>
<app-sidebar-button matTooltip="Logout" [iconName]="'exit_to_app'" (click)='logout()' routerLink="/login"></app-sidebar-button>
<!-- <app-sidebar-button text="login" [iconName]="'verified_user'" routerLink="/login"></app-sidebar-button> -->
<app-sidebar-button matTooltip="Toggle fullscreen" class="bottom" [iconName]="screenIcon" (click)="toggleFullScreen()"></app-sidebar-button>