<input style="display: none;" 
  type="file"
  accept="image/*"
  (change)="fileChangeEvent($event)" 
  placeholder="Upload file..." 
#fileInput/>
<span>
    <button mat-button color="primary" style="width: 100%; display: inline-block;" (click)="selectImage(); fileInput.click();">SELECT IMAGE</button>
</span>
<button mat-button color="primary" style="width: 100%;" (click)="toggleMode();">
  <span *ngIf="modus === 'click'">MODIFY</span>
  <span *ngIf="modus === 'draw'">SAVE</span>
</button>
<div id="container" #container>reg</div>
