<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  
  <mat-expansion-panel-header>
    
    <mat-panel-title>
      DEVICES
    </mat-panel-title>
    
  </mat-expansion-panel-header>
  
  <span style="height: 80px;"></span>
  <div class="line">
    <mat-form-field>
      <input matInput placeholder="Device EUI" type="string" [ngModel]="deveui" (ngModelChange)="deveui = $event">
      <mat-icon style="cursor: pointer;" matSuffix (click)="genDEVEUI()">shuffle</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Device ADDRESS" type="string" [ngModel]="devaddr" (ngModelChange)="devaddr = $event">
      <mat-icon style="cursor: pointer;" matSuffix (click)="genDEVADDR()">shuffle</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Descriptive name" type="string" [ngModel]="desc" (ngModelChange)="desc = $event">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Model" type="string" [ngModel]="model" (ngModelChange)="model = $event">
    </mat-form-field>
  </div>
  <mat-accordion>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Room
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Room name" type="string" [ngModel]="room.name" (ngModelChange)="room.name = $event">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Room description" type="string" [ngModel]="room.description" (ngModelChange)="room.description = $event">
      </mat-form-field>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sensor
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <mat-accordion>
        <mat-expansion-panel *ngFor="let key of dataSheet | objectkeys">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{key | sensorname}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-checkbox [(ngModel)]="dataSheet[key].has_sensor">Has sensor</mat-checkbox>
          <mat-form-field>
            <input matInput placeholder="Unit" type="string" [ngModel]="dataSheet[key].unit" (ngModelChange)="dataSheet[key].unit = $event">
          </mat-form-field>
          <!-- TODO: check for non null value -->
          <mat-form-field>
            <input matInput placeholder="Permitted minimum" type="number" [ngModel]="dataSheet[key].permitted_min" (ngModelChange)="dataSheet[key].permitted_min = $event">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Permitted maximum" type="number" [ngModel]="dataSheet[key].permitted_max" (ngModelChange)="dataSheet[key].permitted_max = $event">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Resolution" type="number" [ngModel]="dataSheet[key].resolution" (ngModelChange)="dataSheet[key].resolution = $event">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Sensitivity" type="number" [ngModel]="dataSheet[key].sensitivity" (ngModelChange)="dataSheet[key].sensitivity = $event">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Description" type="string" [ngModel]="dataSheet[key].description" (ngModelChange)="dataSheet[key].description = $event">
          </mat-form-field>
        </mat-expansion-panel>
        
      </mat-accordion>
      
    </mat-expansion-panel>
    
  </mat-accordion>
  <!-- <mat-form-field>
    <input matInput placeholder="DEVADDR" (keyup.enter)="createDevice()" type="string" [ngModel]="deveui" (ngModelChange)="deveui = $event">
  </mat-form-field> -->
  <button mat-button color="primary" (click)="addDevice()" style="width: 100%;">Add device</button>
  
  <!-- <hr> -->
  
  <mat-list role="list">
    <app-device *ngFor="let n of devices" [device]="n" (valuesChanged)='getDevices()'></app-device>
  </mat-list>
  
</mat-expansion-panel>
