<mat-card>
  <mat-card-title>DEVICES</mat-card-title>
  <mat-card-content>
    <split [direction]="direction">

      <!-- left part -->

      <split-area size="40">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Choose date range
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="dateField">
              <input matInput (dateChange)="rangeChanged()" [matDatepicker]="pickerStart" [formControl]="startDate" placeholder="Choose start date">
              <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="dateField">
              <input matInput (dateChange)="rangeChanged()" [matDatepicker]="pickerEnd" [formControl]="endDate" placeholder="Choose end date">
              <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Map
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-map [roomList]="roomList" (roomClicked)="roomClicked($event)"></app-map>
          </mat-expansion-panel>

        </mat-accordion>

        <div id="spacer">
          <span>ROOMS</span>
        </div>

        <mat-accordion>
          <mat-expansion-panel *ngFor="let d of devicesByRoom" [expanded]="d.expanded">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{d.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span style="height: 80px;"></span>
            <mat-list role="list">
              <mat-divider></mat-divider>
              <mat-list-item *ngFor="let r of d.devices">
                <mat-checkbox (change)="reloadData($event, r.deveui)" [(ngModel)]="r.checked">{{r.desc}}</mat-checkbox>
                <span style="width: 20px"></span>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </split-area>

      <!-- right part -->

      <split-area size="60">

        <mat-progress-bar [mode]="barMode"></mat-progress-bar>

        <div id="modeToggleBar">
          <mat-button-toggle-group id="modeToggle" #group="matButtonToggleGroup" (change)="toggleView($event)">
            <mat-button-toggle checked="true" value="normal" matTooltip="Normal visualisation">
              Static
            </mat-button-toggle>
            <mat-button-toggle checked="false" value="live" matTooltip="Live visualisation, maximum one device">
              Live
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <!-- space -->

        <app-card [deveui]="deveui" [startDate]="startDate.value" *ngIf="liveMode && deveui.length > 0; else static_view"></app-card>
        <ng-template #static_view>
          <mat-tab-group *ngIf="!liveMode && lineChartLabels.length > 0;">
            <ng-container *ngFor="let d of dataArray;">
              <mat-tab *ngIf="d.hasSensor" label="{{d.label}}">
                <app-graph-simple [min]="d.min" [max]="d.max" [avg]="d.avg" [specialColor]="false" [lineChartData]="d.lineChartData" [lineChartLabels]="lineChartLabels"
                  [unit]="d.unit" [label]="d.label">
                </app-graph-simple>
              </mat-tab>
            </ng-container>
          </mat-tab-group>
          <span *ngIf="lineChartLabels.length === 0 && barMode === 'indeterminate'" style="padding: 20px; display: inline-block">Loading data from server...</span>
          <span *ngIf="lineChartLabels.length === 0 && barMode === 'determinate' && deveui.length === 0" style="padding: 20px; display: inline-block">Select at least a device to display data in this area</span>
          <span *ngIf="lineChartLabels.length === 0 && barMode === 'determinate' && deveui.length > 0" style="padding: 20px; display: inline-block">There is no data to display</span>
        </ng-template>
      </split-area>
    </split>
  </mat-card-content>
</mat-card>
