/* You can add global styles to this file, and also import other style files */

// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";
// @import "assets/style/material-style.css";
@import './sass/material-style.scss';
@import './sass/mixins';
@import './sass/variables';
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(2, 150, 213);
  margin: 1em 0;
  padding: 0;
}

.mat-divider {
  position: relative!important;
}

mat-card {
  border-radius: 0px!important;
}